# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
